################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/学生信息管理系统/.vs/学生信息管理系统/v14/.suo
/学生信息管理系统/ClassLibrary1/bin/Debug/ClassLibrary1.dll
/学生信息管理系统/ClassLibrary1/bin/Debug/ClassLibrary1.pdb
